.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

  
  }

  .save-button {
    display: flex;
justify-content: center;
align-items: center;
margin-top: 2%;
  }